<%-include('../includes/header.ejs')%>

</head>
<body>

<%-include('../includes/navbar.ejs')%>


<!--About Header-->

<header id="page-header" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>Our Services</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, non!</p>
                </div>
            </div>
        </div>
    </header>
    
    <!--Services Section-->
    <section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header text-white bg-dark">
                            <h3>Service Plan 1</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$59.99/Month</h4>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, expedita?</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Five
                                </li>
                            </ul>
                            <a href="" class="btn btn-danger btn-block mt-2">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header text-white bg-success">
                            <h3>Service Plan 2</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$59.99/Month</h4>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, expedita?</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Five
                                </li>
                            </ul>
                            <a href="" class="btn btn-success btn-block mt-2">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header text-white bg-dark">
                            <h3>Service Plan 3</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$59.99/Month</h4>
                            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, expedita?</p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Feature Five
                                </li>
                            </ul>
                            <a href="" class="btn btn-danger btn-block mt-2">Get It</a>
                        </div>
                        <div class="card-footer text-muted">
                            1 Year Plan
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <!--FAQ-->
    <section id="faq" class="p-5 bg-dark text-white">
        <div class="container">
            <h1 class="text-center">Frequently Asked Questions</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="accordian">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <a href="#collapseOne"  data-toggle="collapse">
                                Question 1
                              </a>
                            </h5>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a href="#collapseTwo"  data-toggle="collapse">
                                    Question 2
                                  </a>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <a href="#collapseThree"  data-toggle="collapse">
                                    Question 3
                                  </a>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="accordian">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <a href="#collapseFour"  data-toggle="collapse">
                                Question 1
                              </a>
                            </h5>
                          </div>
                      
                          <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a href="#collapseFive"  data-toggle="collapse">
                                    Question 2
                                  </a>
                            </h5>
                          </div>
                          <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <a href="#collapseSix"  data-toggle="collapse">
                                    Question 3
                                  </a>
                            </h5>
                          </div>
                          <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    
<%-include('../includes/footer.ejs')%>    